# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so

# === Entorno virtual ===
.venv/
venv/
env/

# === IDEs/editores ===
.vscode/
.idea/
*.code-workspace

# === Django ===
*.sqlite3
db.sqlite3
staticfiles/
media/
logs/

# Archivos de migraciones compiladas
*/migrations/__pycache__/

# === Archivos de entorno ===
.env
.env.local
.env.*.local

# === Sistema operativo ===
.DS_Store
Thumbs.db
