{% extends "base.html" %}

{% block title %}{% if object %}Editar {{ view.crud_config.verbose_name }}{% else %}Nuevo {{ view.crud_config.verbose_name }}{% endif %}{% endblock %}

{% block content %}
<h1 class="text-2xl font-semibold mb-4">
  {% if object %}Editar {{ view.crud_config.verbose_name }} #{{ object.pk }}{% else %}Nuevo {{ view.crud_config.verbose_name }}{% endif %}
</h1>

<form method="post" class="bg-base-100 p-4 rounded-lg shadow max-w-3xl">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="mt-4 flex gap-2">
    <button class="btn btn-primary">Guardar</button>
    <a class="btn" href="{% url 'productos:'|add:view.crud_config.slug|add:'_list' %}">Cancelar</a>
  </div>
</form>
{% endblock %}
